<div class="upgrade-special-inner int_year_strategy">
    <div class="upgrade-special-top"><!---->

    </div>
    <div class="upgrade-special-image int_year_strategy">
        <div class="upgrade-image">
            <picture class="is-rounded">
                <source srcset="/images/upgrade/int_year_strategy.webp" type="image/webp" alt="int_year_strategy">
                <img class="img-responsive" src="/images/upgrade/int_year_strategy.png" alt="int_year_strategy">
            </picture>
        </div><!---->
    </div>
    <div class="upgrade-special-title">Year strategy</div>
    <div class="upgrade-special-spacer"></div>
    <div class="upgrade-special-text">Planning time</div>
    <div class="upgrade-special-bottom"><!----><!---->
        <div class="upgrade-special-detail is-center">
            <p class="is-text-center">Вы владеете этой картой</p>
        </div>
    </div>
</div>